vrrp_script chk_service { 
        script "/bin/pidof {{ keepalived_daemon_checked }}"     
        interval 2                      # check every 2 seconds
}
vrrp_instance VI_1 {
    {% if keepalived_master_ip ==  ansible_eth0.ipv4.address %}
    state MASTER
    {% else %}
    state BACKUP
    {% endif %}
    interface {{ keepalived_shared_iface }}
    virtual_router_id {{ keepalived_router_id }}
    {% set IPoctet = ansible_eth0.ipv4.address.split('.') %}
    priority {{ (IPoctet|last|int)*10 }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ keepalived_shared_ip }} dev {{ keepalived_shared_iface }} label {{ keepalived_shared_iface }}:0
    }
    track_script {
        chk_service
    }
}
